runs/*
dataset/*
log/*
*.pt
pretrain/*
*.so
*.bin
*.xml
*.mapping
utils/nms_rotated/build/*
*.pyc
.git
.history/*
*.jpg
*.pth
*.pt
*.json
*.onnx
*.xml
*.bin
logtxt/*
anchor_samples/*
OBBDetection/*
train_examples/*
*.txt
test_qr/
log_txt/*
OBBDetection/*
anchor_samples/*
